[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
joblib = "*"
kiwisolver = "*"
matplotlib = "*"
nltk = "*"
numpy = "*"
pyparsing = "*"
python-dateutil = "*"
regex = "*"
six = "*"
torch = "*"
torchaudio = "*"
torchvision = "*"
tqdm = "*"
typing-extensions = "*"
Cycler = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
